body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

/*début nav barre */
header{
    background-color:#E8E8E8;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
}

.nav{
    display: flex;
    justify-content: space-around;
    width: 400px;
    padding: 0;
    padding-right: 50px;
}

.logo{
    height: 100px;
    margin-left: 70px;
}

.logo_img{
    height: 100%;
}

a{
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    text-decoration: none;
    color: black;
    font-weight: 300;
}

.underline{
    width: 32px;
    height: 2px;
    background-color: black;
    padding: 0;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu:hover .underline{
    width :85%;
}

/*fin nav barre */

main{
    background: url("fond.png") no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    background-color: #E8E8E8;
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.title{
    font-family: 'Roboto', sans-serif;
    font-size: 41px;
    height: 20%;
}

.code
    font-family: 'Roboto', sans-serif;
}

.button{
    font-family: 'Roboto', sans-serif;
}

.conexion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 30%;
}

input[type=button] {
    background-color: #3589C1;
    border: none;
    border-radius: 6px;
    box-shadow: 6px 7px 9px #00000029;
    padding: 10px;
    color: white;
}

input[type=password] {
    border: none;
    border-radius: 6px;
    padding: 10px;
}

.separation{
    width: 32px;
    height: 2px;
    background-color: black;
    padding: 0;
}